{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Happy Library - share global class knowledge</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js" defer></script>


	<link rel="stylesheet" type="text/css" href="{% static 'css/fancy.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

	{% include 'components/navbar.html' with user='12' %}
	
	{% include 'components/searchbar.html' %}

	<div class="flex justify-center flex-wrap">
		<div class="col-7 col-10-md mb-3-md flex justify-end">
			<div class="col-9 col-10-md">
				<div class="pt-5 pt-2-sm pb-10 pr-3 pl-8 pl-6-xl pl-4-lg pl-3-md px-3-sm">
					<p class="title">Quick Random documents</p>

					<p class="mt-2 mt-0-sm mb-2">Below are some trending files, search to get notes of choice.</p>

					{%include 'components/listview.html' with docs=docs %}

				</div>
			</div>
		</div>

		<div class="col-3 col-10-md mb-3-md">
			<!-- ADS -->
		</div>
	</div>


</body>
</html>